@charset "utf-8";

/* #section .article1 { } */
#section .slide { height: 650px; background-size: cover; background-position: center; display: none; position: relative;}
#section .slide1 { background-image: url(../img/main_img1.jpg); display: block;}
#section .slide2 { background-image: url(../img/main_img2.jpg);}
#section .slide3 { background-image: url(../img/main_img3.jpg);}
#section .article1 .slide .slide_text { position: absolute; top: 50%; transform:  translateY(-50%); color: white; text-align: center; width: 100%;}
#section .article1 .slide .slide_text h2 {
    font-size:  42px; font-weight: 800;
}
.article1 .slide .slide_text p { font-size:  16px; line-height:  24px; font-weight: 400; margin: 30px 0; }
.article1 .slide .slide_text a { 
    display: inline-block; padding: 10px 35px; border: 1px solid white; font-size: 15px; 
}
.article1 .slide .slide_text a:hover {
    background: rgba(255,255,255,0.3);
}

/* section의 article2 구역 */
#section h2 { color: #000; font-size: 36px; line-height: 42px; font-weight: 700; padding: 80px 0 10px; text-align: center;}
.article2 > p, .article4 > p {
    padding-bottom: 40px; text-align: center; line-height: 1.5em;
}

/* before에 absolute쓰면 안붙은 곳에 relative써줌 */
.article2 li { height: 520px; float: left; width: 24%; margin-right: 1.3333%; background-size: cover; position: relative;}
/* 같은 위치에 두기위한 공식 */
.article2 li::before {
    content: '';
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5); opacity: 0; transition: all .4s;
}

.article2 li:hover::before {
    opacity: 1;
}

.article2 li:nth-child(1) {
    background-image: url(../img/what1.jpg);
}
.article2 li:nth-child(2) {
    background-image: url(../img/what2.jpg);
}
.article2 li:nth-child(3) {
    background-image: url(../img/what3.jpg);
}
.article2 li:nth-child(4) {
    background-image: url(../img/what4.jpg); margin-right: 0;
}

.article2 li > div {
    position: absolute; bottom: 25px; left: 25px; right: 25px; color: white;
    transition: all .4s;
}
.article2 li:hover > div {
    bottom: 100px;
}
.article2 li > div > h3 { 
    font-size: 24px; line-height: 32px; font-weight: 500;
}
.article2 li > div > p {
    padding: 20px 0; line-height: 1.5; font-size: 14px;
}
.article2 li > div > a {
    padding: 10px 40px; border: 1px solid rgba(255,255,255,0.5); font-size: 11px;  display: inline-block; 
}
.article2 li > div > a:hover {
    background-color: rgba(255,255,255,.3);
}


/* section의 article3 구역 */
.article3 { 
    padding: 100px 0; background: url(../img/intro_bg.jpg) no-repeat center top;
    background-size: cover; background-attachment: fixed;
    /* 패럴렉스 이미지 : 스크롤시 배경이미지 고정스타일 */
    color: white; text-align: center; margin-top: 100px;
}

.article3 h2 {
    padding-top: 0!important; color: white!important;
    /* 크기가 변해도 단어가 잘리지 않게함 */
    word-break: keep-all;
}
.article3 p { padding: 15px 0 25px; word-break: keep-all;}
.article3 a {  display: inline-block; font-size: 13px; padding: 10px 30px; border: 1px solid rgba(255,255,255,0.5);}
.article3 a:hover { background: rgba(255,255,255,0.3);}

/* section의 article4 구역 */
.article4 ul { overflow: hidden;}
.article4 ul li {
    float: left; width: 32%; margin-right: 2%; border: 1px solid #999; margin-bottom: 20px;
    text-align: center; 
}
/* 한줄에 3개씩 했을 때 3번째 아이들만 지목됨 */
.article4 ul li:nth-child(3n) { margin-right: 0;}

.article4 li > div {position: relative;}
.article4 li > div::before {
    content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); opacity: 0; transition: all .3s;
}
.article4 li:hover > div::before {
    opacity: 1; z-index: 9;
}

.article4 li > div {
    position: relative; overflow: hidden;
}

.article4 li > div img {
    transition: all .4s; 
}
.article4 li:hover > div img {
    transform: scale(1.2);
}
.article4 li .zoom {
    position: absolute; top: 50%; transform: translateY(-50%); right: 0; left: 0; color: #fff; font-size: 30px; opacity: 0; transition: all .4s; z-index: 99;
}
.article4 li:hover .zoom {
    opacity: 1;
}
.article4 li h4 {
    font-size: 17px; margin: 25px; line-height: 1.5; font-weight: bold;
}
.article4 li p {
    font-size: 14px; margin: 25px; line-height: 1.5;
}

/* section의 article5 구역 */
.article5 {
    border-top: 1px solid #ddd; padding: 30px 0; margin-top: 50px;
}
.article5 .row { overflow: hidden;}
.article5 .row > div { width: 33.33%; float: left;}

.cs_board { padding-right: 30px;}
.cs_board .tabmenu { overflow: hidden; border-bottom: 1px solid #ddd;}
.cs_board .tabmenu li { float: left; border: 1px solid #ddd; border-bottom: none; padding: 10px 20px; cursor: pointer;}
.cs_board .tabmenu li.active {
    background-color: #ddd; color: orangered;
}
.cs_board .contents table { font-size: 14px;}
.cs_board .contents col:nth-child(1) { width: auto;}
.cs_board .contents col:nth-child(2) { width: 100px;}
/* css로 표에 디자인 줄 때 td에 준다 */
.cs_board .contents td {
    border-bottom: 1px solid #ddd; padding: 9px 5px;    
}
/* 한줄로 말줄임표 표시하는 공식 */
.cs_board .contents td:nth-child(1) {
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
}
.cs_board .contents td:nth-child(2) { text-align: center;}
.cs_board .contents > div { position: relative; display: none;}
.cs_board .contents > div.active { display: block;}
.cs_board .contents .more {
    position: absolute; bottom: 100%; right: 0; padding: 5px; background-color: #ddd; margin-bottom: 5px; border-radius: 3px;
}

.cs_center {
    border-left: 1px solid #ddd; border-right: 1px solid #ddd; padding: 0 30px;
}
.cs_center h4 { color: #000; font-size: 20px; line-height: 28px; padding-bottom: 15px; font-weight: 500;}

.cs_center li {
    font-size: 13px; line-height: 24px;
}
.cs_center li.tel_num {
    color: #ed5c20; font-size: 30px; line-height: 36px; font-weight: 700; padding-bottom: 10px;
}
.cs_center li::before { content: 'ㆍ';}
.cs_center li.tel_num::before,
.cs_center li.cs-btn::before { display: none;}
.cs_center li.cs-btn { text-align: center;}
.cs_center li.cs-btn a {
    display: inline-block; width: 46%; margin: 1%; border-radius: 3px; padding: 10px; font-size: 14px; text-align: center; color: white; margin-top: 20px;
}
.cs_center li.cs-btn a:nth-child(1) { background-color: #787878;}
.cs_center li.cs-btn a:nth-child(2) { background-color: #001f60;}
.cs_center li.tel_num i { transform: scale(.7);}

.cs_movie { padding-left: 30px;}